<h1>Successfully Added User</h1>
username: {{ username }}<br>
password1: {{ password1 }}<br>
password2: {{ password2 }}<br>
firstName: {{ firstName }}<br>
lastName: {{ lastName }}<br>
email: {{ email }}<br>
imageName: {{ imageName }}<br>
imageSize: {{ imageSize }}